<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <!-- <link href="{{ url_for('static', filename='css/lib/nouislider.min.css') }}" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/css/ripples.css">
    <title>{{ titre }}</title>
  </head>


  <body>

    <h1>Foundations of Data Science - Coursework 3</h1>

    <div class="row">
      <div class="col-md-2">
        <div class="container">
          <div class="radio">
            <label><input type="radio" name="optradio" id="foodAgency" checked="">Food Agency</label>
          </div>
          <br>
          <br>
          <div class="radio">
            <label><input type="radio" name="optradio" id="yelp">Yelp</label>
          </div>
          <div id="yelp_slider" class="slider slider-danger"></div>
          <br>
          <br>
          <div class="radio">
            <label><input type="radio" name="optradio" id="tripadvisor">Tripadvisor</label>
          </div>
          <div id="tripadvisor_slider" class="slider slider-primary"></div>
          <br>
          <div class="form-group" id="tripadvisor_dropdown">
            <label for="s1">Cuisine</label>
            <select id="s1" class="form-control">
              <option value="Italian">Italian</option>
              <option value="Mediterranean">Mediterranean</option>
              <option value="British">British</option>
              <option value="Seafood">Seafood</option>
              <option value="European">European</option>
              <option value="Vegetarian Friendly">Vegetarian Friendly</option>
              <option value="Greek">Greek</option>
              <option value="Halal">Halal</option>
              <option value="Asian">Asian</option>
              <option value="Indian">Indian</option>
              <option value="French">French</option> 
              <option value="Vegan Options">Vegan Options</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-10">
        <div id="map-box" class="full-height">
          <!-- map container -->
          <!-- <div id="points"></div> -->
          <div id="map" class="full-height"></div>
          <!-- popup container -->
          <aside id="popup" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="title modal-title"></h4>
                </div>
                <div class="body modal-body"></div>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id='pieChart'></div>
      </div>
      <div class="col-md-6">
        <div id='barChart'></div>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-3">
          <img src="{{ url_for('static', filename='img/twitter_logo.png') }}" class="pull-left" height="260" width="320">
      </div>
      <div class="col-md-4">
        <table class="table">
          <thead>
            <tr><div class="twitter_header">Tweets from Southampton between 31/12/2016 and 10/01/2017</div></tr>
          </thead>
          <tbody>
            <tr>
              <td><div id="twitter_pizza" class="twitter"></div></td>
              <td><div id="twitter_burger" class="twitter"></div></td>
            </tr>
            <tr>
              <td><div id="twitter_coffee" class="twitter"></div></td>
              <td><div id="twitter_tea" class="twitter"></div></td>
            </tr>
            <tr>
              <td><div id="twitter_vegan" class="twitter"></div></td>
              <td><div id="twitter_something" class="twitter"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div id="twitterGraph"></div>
      </div>
    </div>
    <div class="row top-buffer">
      <div class="col-md-3">
          <img src="{{ url_for('static', filename='img/instagram_logo.png') }}" class="pull-left" height="300" width="300">
      </div>
      <div class="col-md-4">
        <table class="table">
          <thead>
            <tr><div class="instagram_header">Instagram posts from Southampton between 28/09/2015 and 10/01/2017</div></tr>
          </thead>
          <tbody>
            <tr>
              <td><div id="instagram_pizza" class="instagram"></div></td>
              <td><div id="instagram_burger" class="instagram"></div></td>
            </tr>
            <tr>
              <td><div id="instagram_coffee" class="instagram"></div></td>
              <td><div id="instagram_tea" class="instagram"></div></td>
            </tr>
            <tr>
              <td><div id="instagram_vegan" class="instagram"></div></td>
              <td><div id="instagram_something" class="instagram"></div></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-5">
        <div id="instagramGraph"></div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.5.9/js/material.min.js"></script>
    <script>$($.material.init())</script>
    <script>$('.dropdown-toggle').dropdown()</script>
    <script src="{{ url_for('static', filename='js/lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/ol.v2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/nouislider.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/lib/boot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/piechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/graph.js') }}"></script>

    <script src="{{ url_for('static', filename='js/toolbox.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
  
  <!--
  <body onload="initViz();">
    
    <h1> {{ titre }}</h1>

      <div id="vizContainer"></div>

    <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
    <script type="text/javascript">

      function initViz() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "https://public.tableau.com/views/test3_93/Tableaudebord1?:embed=y&:display_count=yes"

        var viz = new tableau.Viz(containerDiv, url)
      }

    </script>
  </body>
  -->

</html>