<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    <title>{{ titre }}</title>
  </head>


  <body>

    <h1>Foundations of Data Science - Coursework 3</h1>

    <div class="row">
      <div class="col-md-9">
        <div id="map-box" class="full-height">
          <!-- map container -->
          <div id="points"></div>
          <div id="map"></div>

          <!-- popup container -->
          <aside id="popup" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="title modal-title"></h4>
                </div>
                <div class="body modal-body"></div>
              </div>
            </div>
          </aside>
        </div>
      </div>
      <div class="col-md-3">
        <div id='pieChart'></div>
        <div id='barChart'></div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <div class='twitter'>
          <br>
          <br>
          <h2>twitter</h2>
        </div>
        <div class='instagram'>
          <br>
          <br>
          <h2>instagram</h2>
        </div>
      </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/d3.v3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/ol.v2.js') }}"></script>
    
    <script src="{{ url_for('static', filename='js/lib/boot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>
    <script src="{{ url_for('static', filename='js/piechart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/barchart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
  
  <!--
  <body onload="initViz();">
    
    <h1> {{ titre }}</h1>

      <div id="vizContainer"></div>

    <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
    <script type="text/javascript">

      function initViz() {
        var containerDiv = document.getElementById("vizContainer"),
            url = "https://public.tableau.com/views/test3_93/Tableaudebord1?:embed=y&:display_count=yes"

        var viz = new tableau.Viz(containerDiv, url)
      }

    </script>
  </body>
  -->

</html>